<section class="cards-filters">
    <label for="condition" class ="cards-filters__title">Статус:</label>
        <select name="condition" class="cards-filters__dropdown cards-filters__dropdown-condition">
            <option value="Усі">Усі</option>
            <option value="Open">Open</option>
            <option value="Done">Done</option>
        </select>
    <label for="visits termt"class ="cards-filters__title">Термін візиту:</label>
        <select name="visits term" class="cards-filters__dropdown cards-filters__dropdown-visits-term">
            <option value="Усі">Усі</option>
            <option value="Невідкладна">Невідкладна</option>
            <option value="Пріоритетна">Пріоритетна</option>
            <option value="Звичайна">Звичайна</option>
        </select>
    <label for="search"class ="cards-filters__title">Шукати:</label>
        <input type="text" name="search" class="cards-filters__input-search">
    <button class="cards-filters__btn-search">Шукати</button>
</section>