<header class="header">
    <div class="header__body container">
        <a class="header__link" href="">
            <img alt="" class="header__logo" src="@img/Logo.png">
            <div class="header__brand">
                <span class="header__title">MEDICAL GROUP</span>
                <span class="header__slogan">We take care about you</span>
            </div>
        </a>
        <div class="header__login">
            <button class="header__btn btn btn--red header__btn-login">Увійти</button>
            <button class="header__btn btn btn--red header__btn-create-card header__btn--hidden">Створити візит
            </button>
            <!--        <button class="header__btn btn btn&#45;&#45;red">Вийти</button>-->
        </div>
    </div>
</header>
