.board-of-cards{
    padding: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:rem(10);
    flex-wrap: wrap;
&__patient-card{
    padding: rem(5);
    background:$clr-base-lt;
    position: relative;
    display: flex;
    font-size: rem(16);
    flex-direction: column;
    width:rem(250);
    height: rem(250);
&__title{
    padding-bottom: rem(15);
}
&__options{
    position:absolute;
    right: rem(10);
}
&__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:rem(5);
}
&__close-btn{
    cursor: pointer;
    font-size: rem(30);
}
&__edit-btn{
    font-size: rem(20);
    cursor: pointer;
}
&__more-details{
    display: none;
    background:$clr-base-lt;
}
&__btn-details{
    margin-top: rem(5);
    color:$clr-ntrl-min;
    cursor: pointer;
    padding: rem(15);
    border-radius: rem(15);
    background: $clr-primary-btn;
}

&__hidden-filter-card{
    display: none;
}
}
}
.click-on-details{
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:rem(5);
    position: absolute;
    padding:rem(5);
    top:rem(250);
    left:0;
    width:100%;
}