.creating__visit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:$clr-ntrl-min;
    width: rem(250);
    padding: rem(25);
    border: 1px solid #000; 
}
.create-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.flex__forma{
    display: flex;
    flex-direction: column;
}
.border{
    border: 1px solid #000;
}
.choose__doctor{
padding: 10px;
}
.visit__labels{
    padding: rem(10) 0 ;
}
.btn__send__visit{
    margin-top: rem(30);
}
.add__inputs{
    display: flex;
    flex-direction: column;

}
