.visiter{
    display: flex;
    justify-content: center;
    gap:rem(20);
}
.visiter__card{
    border-radius: rem(10);
    max-width:rem(200);
    width:100%;
    padding: rem(10);
    background: $clr-ntrl-min;
}
.visiter__card__text{
    text-align: center;
    padding-bottom: rem(20);
}
.btn__details{
    margin-top:rem(20);
    padding: rem(5);
    font-size: rem(12);
}